openapi: 3.0.3
info:
  title: Lux Trading API
  description: |
    One surface for every market a Lux interface shows.

    A market on a Lux chain is quoted from our own contracts. A market on any
    other chain is quoted from the pools Uniswap deployed there, read directly
    over that chain's JSON-RPC — no vendor API, no upstream account, nothing
    that stops working when somebody says no. The response is the same shape
    either way, because a client should not have to know which arm answered it.

    Every path lives under /v1/trade. api.lux.cloud carries the chain at
    /v1/chain, the C-chain at the root and other services besides, so this is
    one namespace with one owner rather than a handful of generic names on a
    shared host.

    Reads are public and unauthenticated. Nothing here signs or sends a
    transaction: the swap, approval and position paths return unsigned calldata
    for a wallet to sign.
  version: 3.0.0
  contact:
    name: Lux Industries
    url: https://lux.exchange

servers:
  - url: https://api.lux.cloud
    description: Production
  - url: http://localhost:8080
    description: A local gateway

tags:
  - name: quote
  - name: swap
  - name: allowance
  - name: liquidity
  - name: reference

paths:
  /v1/trade/venues:
    get:
      operationId: venues
      tags: [reference]
      summary: The chains this deployment can price, and what it reads them from
      description: |
        Ask this first. A venue is a contract on a chain, so the answer is
        grouped by chain: `native` marks a chain we settle ourselves through the
        Lux precompiles, and the rest are read from their own pools.

        Without this a client discovers a chain is unquotable by quoting on it
        and reading an error.
      parameters:
        - name: chainId
          in: query
          required: false
          schema: { type: integer, format: int64 }
          description: Restrict the answer to one chain.
      responses:
        '200':
          description: One entry per chain, in ascending chain id.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/ChainVenues' }
        '404':
          description: No venue here reads that chain.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }

  /v1/trade/quote:
    post:
      operationId: quote
      tags: [quote]
      summary: The best price across every venue that holds the pair
      description: |
        Our own chains are asked first, because they are the venue — an upstream
        opinion about a market we settle ourselves is a second opinion. A venue
        holding no liquidity returns nothing rather than an error, so the next
        source is asked in turn.

        `providerName` and `route[].poolType` name the venue that answered.
        A quote is a reading of a pool at a moment and is cached for seconds.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/QuoteRequest' }
      responses:
        '200':
          description: The best price, and where it came from.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/Quote' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404':
          description: |
            No venue here holds this pair. On a chain this deployment reads,
            that is a fact about the pools and not about a missing upstream
            account.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }

  /v1/trade/quotes:
    post:
      operationId: quotes
      tags: [quote]
      summary: Every venue's price for the pair, best first
      description: |
        The same question as /v1/trade/quote without the last step, from the
        same source, so the head of this list is what that path returns.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/QuoteRequest' }
      responses:
        '200':
          description: Every venue that holds the pair, in descending amountOut.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Quote' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404':
          description: No venue here holds this pair.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }

  /v1/trade/route:
    post:
      operationId: route
      tags: [quote]
      summary: Multi-hop paths through the pools, ranked
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RouteRequest' }
      responses:
        '200':
          description: Candidate routes, best output first.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/trade/swap:
    post:
      operationId: swap
      tags: [swap]
      summary: An unsigned transaction for the best route
      description: |
        Quotes the pair, then returns calldata for a wallet to sign. Nothing
        here holds a key or sends anything.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SwapRequest' }
      responses:
        '200':
          description: An unsigned transaction.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/UnsignedTx' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/trade/approval/check:
    post:
      operationId: checkApproval
      tags: [allowance]
      summary: What the spender may already move
      description: |
        Reads `allowance(owner, spender)` on the token, over the same endpoint
        the pool is quoted from. `approveTx` is returned only when an approval
        is actually needed — handed back beside "you already approved" it is a
        transaction somebody sends, and the user pays gas for a state change
        that changes nothing.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AllowanceRequest' }
      responses:
        '200':
          description: The allowance the chain reports, and whether it covers the amount.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/Approval' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '502':
          description: |
            The chain could not be read, or this deployment does not read it.
            Never a guessed number.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }

  /v1/trade/approval/build:
    post:
      operationId: buildApproval
      tags: [allowance]
      summary: An unsigned ERC-20 approve
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AllowanceRequest' }
      responses:
        '200':
          description: An unsigned transaction.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/UnsignedTx' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/trade/permit2/check:
    post:
      operationId: checkPermit2
      tags: [allowance]
      summary: Whether a live Permit2 grant covers the amount
      description: |
        Permit2 answers `(amount, expiration, nonce)`, and the expiration is
        half the answer: a grant that has run out is not a grant. A
        `signatureRequest` comes back only when one is needed.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Permit2Request' }
      responses:
        '200':
          description: The Permit2 allowance, and whether it is live and sufficient.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/Permit2' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '502':
          description: The chain could not be read, or this deployment does not read it.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }

  /v1/trade/permit2/build:
    post:
      operationId: buildPermit2
      tags: [allowance]
      summary: A Permit2 grant, as a transaction or as typed data to sign
      parameters:
        - name: mode
          in: query
          schema: { type: string, enum: [tx, sig], default: tx }
          description: |
            `tx` returns an unsigned Permit2 approve; `sig` returns the EIP-712
            PermitSingle for the wallet to sign instead.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Permit2Request' }
      responses:
        '200':
          description: An unsigned transaction, or an EIP-712 signature request.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/trade/order:
    post:
      operationId: placeOrder
      tags: [swap]
      summary: Place a limit or dutch-auction order
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrderRequest' }
      responses:
        '201':
          description: The order as recorded.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400': { $ref: '#/components/responses/BadRequest' }
    get:
      operationId: listOrders
      tags: [swap]
      summary: Orders for an address
      parameters:
        - name: address
          in: query
          required: true
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string, enum: [open, filled, cancelled, expired] }
      responses:
        '200':
          description: The orders held for that address.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/trade/order/{orderId}:
    get:
      operationId: order
      tags: [swap]
      summary: One order
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The order.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      operationId: cancelOrder
      tags: [swap]
      summary: Cancel one order
      parameters:
        - name: orderId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The order, cancelled.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/trade/pools:
    get:
      operationId: pools
      tags: [liquidity]
      summary: Pools on a chain
      parameters:
        - name: chainId
          in: query
          required: true
          schema: { type: integer, format: int64 }
        - name: token0
          in: query
          schema: { type: string }
        - name: token1
          in: query
          schema: { type: string }
        - name: protocol
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer }
        - name: offset
          in: query
          schema: { type: integer }
      responses:
        '200':
          description: The pools that answered.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }

  /v1/trade/pool/{chainId}/{address}:
    get:
      operationId: pool
      tags: [liquidity]
      summary: One pool
      parameters:
        - name: chainId
          in: path
          required: true
          schema: { type: integer, format: int64 }
        - name: address
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The pool.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/trade/positions:
    get:
      operationId: positions
      tags: [liquidity]
      summary: Liquidity positions held by an address
      parameters:
        - name: chainId
          in: query
          required: true
          schema: { type: integer, format: int64 }
        - name: owner
          in: query
          required: true
          schema: { type: string }
        - name: poolId
          in: query
          schema: { type: string }
      responses:
        '200':
          description: The positions held.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }

  /v1/trade/position:
    post:
      operationId: openPosition
      tags: [liquidity]
      summary: Unsigned calldata to open a position
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: An unsigned transaction.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/trade/position/increase:
    post:
      operationId: increasePosition
      tags: [liquidity]
      summary: Unsigned calldata to add liquidity to a position
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: An unsigned transaction.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/trade/position/decrease:
    post:
      operationId: decreasePosition
      tags: [liquidity]
      summary: Unsigned calldata to remove liquidity from a position
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: An unsigned transaction.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/trade/position/claim:
    post:
      operationId: claimFees
      tags: [liquidity]
      summary: Unsigned calldata to collect fees owed to a position
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: An unsigned transaction.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/trade/tokens:
    get:
      operationId: tokens
      tags: [reference]
      summary: The token list for a chain
      parameters:
        - name: chainId
          in: query
          required: true
          schema: { type: integer, format: int64 }
      responses:
        '200':
          description: The tokens.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/trade/price:
    get:
      operationId: price
      tags: [reference]
      summary: One token's price
      parameters:
        - name: chainId
          in: query
          required: true
          schema: { type: integer, format: int64 }
        - name: address
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: The price.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/trade/prices:
    post:
      operationId: prices
      tags: [reference]
      summary: Prices for several tokens at once
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/Token' }
      responses:
        '200':
          description: A price per token asked for.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/trade/stats:
    get:
      operationId: stats
      tags: [reference]
      summary: Aggregate TVL and volume, summed from the pools that answered
      parameters:
        - name: chainId
          in: query
          schema: { type: integer, format: int64 }
      responses:
        '200':
          description: The aggregates.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }

components:
  responses:
    BadRequest:
      description: The request could not be read as asked.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Envelope' }
    NotFound:
      description: No such thing here.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Envelope' }

  schemas:
    Envelope:
      type: object
      description: Every answer carries the same envelope.
      required: [success]
      properties:
        success: { type: boolean }
        data: {}
        error:
          type: string
          description: Present only when success is false.
        requestId: { type: string }

    Token:
      type: object
      required: [address, chainId]
      properties:
        address: { type: string }
        chainId: { type: integer, format: int64 }
        decimals: { type: integer }
        symbol: { type: string }
        name: { type: string }

    Amount:
      type: object
      required: [token, amount]
      properties:
        token: { $ref: '#/components/schemas/Token' }
        amount:
          type: string
          description: |
            A whole number of the token's smallest unit, as a decimal string.
            Never a float — 1e18 does not survive a double.

    ChainVenues:
      type: object
      required: [chainId, native, venues]
      properties:
        chainId: { type: integer, format: int64 }
        native:
          type: boolean
          description: True where the chain is settled here through the Lux precompiles.
        venues:
          type: array
          items: { $ref: '#/components/schemas/Venue' }

    Venue:
      type: object
      required: [name, status, executable, type]
      properties:
        name:
          type: string
          description: |
            `v4_native` is the Lux precompile arm; `uniswap_v2` and
            `uniswap_v3` are that chain's own pools, read over its JSON-RPC.
          example: uniswap_v3
        status: { type: string, example: active }
        executable:
          type: boolean
          description: Whether this venue can produce a transaction, as opposed to a price alone.
        type: { type: string, enum: [on_chain, off_chain] }

    QuoteRequest:
      type: object
      required: [tokenIn, tokenOut, chainId, amount]
      properties:
        tokenIn:
          type: string
          description: Contract address of the token being sold.
        tokenOut:
          type: string
          description: Contract address of the token being bought.
        chainId: { type: integer, format: int64 }
        amount:
          type: string
          description: A whole number of the smallest unit of tokenIn, or of tokenOut when isExactIn is false.
        isExactIn:
          type: boolean
          default: false
          description: |
            True prices a known input. The V2 and V3 arms read the pools with
            the quoters those protocols published, which answer exact input
            only; an exact-output question on a chain read that way returns no
            venue rather than a made-up number.
        slippage:
          type: number
          format: double
          description: Tolerance in percent, used when this quote becomes a swap.

    Quote:
      type: object
      required: [tokenIn, tokenOut, route, providerName]
      properties:
        tokenIn: { $ref: '#/components/schemas/Amount' }
        tokenOut: { $ref: '#/components/schemas/Amount' }
        route:
          type: array
          items: { $ref: '#/components/schemas/Hop' }
        priceImpact: { type: number, format: double }
        gasEstimate: { type: string }
        quoteId: { type: string }
        expiresAt: { type: string, format: date-time }
        providerName:
          type: string
          description: The venue that answered. It names itself; nothing renames it.

    Hop:
      type: object
      properties:
        poolAddress: { type: string }
        poolType: { type: string, example: uniswap_v3 }
        tokenIn: { $ref: '#/components/schemas/Token' }
        tokenOut: { $ref: '#/components/schemas/Token' }
        fee:
          type: integer
          description: The pool's fee tier, in hundredths of a basis point, for V3 and V4.

    RouteRequest:
      type: object
      required: [tokenIn, tokenOut, chainId, amount]
      properties:
        tokenIn: { type: string }
        tokenOut: { type: string }
        chainId: { type: integer, format: int64 }
        amount: { type: string }
        isExactIn: { type: boolean }
        maxHops: { type: integer }

    SwapRequest:
      type: object
      required: [tokenIn, tokenOut, amount, recipient]
      properties:
        tokenIn: { type: string }
        tokenOut: { type: string }
        chainId: { type: integer, format: int64 }
        amount: { type: string }
        isExactIn: { type: boolean }
        recipient:
          type: string
          description: Who receives tokenOut.
        slippage: { type: number, format: double }
        deadline:
          type: integer
          format: int64
          description: Unix seconds after which the transaction must not execute.

    UnsignedTx:
      type: object
      description: Calldata for a wallet to sign. Nothing here holds a key.
      properties:
        to: { type: string }
        from: { type: string }
        data: { type: string }
        value: { type: string }
        chainId: { type: integer, format: int64 }
        gasLimit: { type: string }

    AllowanceRequest:
      type: object
      required: [tokenAddress, owner, spender, amount, chainId]
      properties:
        tokenAddress: { type: string }
        owner: { type: string }
        spender: { type: string }
        amount:
          type: string
          description: The amount the spender needs to move, in the token's smallest unit.
        chainId: { type: integer, format: int64 }

    Approval:
      type: object
      required: [approved, allowance, needsApproval]
      properties:
        approved: { type: boolean }
        allowance:
          type: string
          description: What the chain reports the spender may move today.
        needsApproval: { type: boolean }
        approveTx:
          allOf: [{ $ref: '#/components/schemas/UnsignedTx' }]
          description: Present only when needsApproval is true.

    Permit2Request:
      type: object
      required: [tokenAddress, owner, spender, amount, deadline, chainId]
      properties:
        tokenAddress: { type: string }
        owner: { type: string }
        spender: { type: string }
        amount: { type: string }
        deadline: { type: integer, format: int64 }
        chainId: { type: integer, format: int64 }

    Permit2:
      type: object
      required: [permit2Approved, permit2Allowance]
      properties:
        permit2Approved:
          type: boolean
          description: True only when the grant is both large enough and unexpired.
        permit2Allowance: { type: string }
        signatureRequest:
          type: object
          description: EIP-712 typed data to sign. Present only when a grant is needed.

    OrderRequest:
      type: object
      required: [tokenIn, tokenOut, amount, maker]
      properties:
        tokenIn: { type: string }
        tokenOut: { type: string }
        chainId: { type: integer, format: int64 }
        amount: { type: string }
        limitPrice: { type: string }
        maker: { type: string }
        deadline: { type: integer, format: int64 }
